<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:requestLegacyExternalStorage="true">
        <receiver android:name="com.architect.kmpessentials.localNotifications.receivers.LocalAlarmReceiver"
            android:exported="true"
            tools:node="merge"
            >
            <intent-filter>
                <action android:name="com.kmpessentials.action.filter"/>
            </intent-filter>
        </receiver>

        <service android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge"
            />

        <activity
            android:name="com.architect.kmpessentials.filePicker.internals.ui.activitys.PopUpActivity"
            android:exported="false"
            android:theme="@style/Theme.FilePicker.Dialog" />
        <activity
            android:name="com.architect.kmpessentials.filePicker.internals.ui.activitys.MediaFilePickerActivity"
            android:exported="false"
            android:theme="@style/Theme.FilePicker.Dialog.NoActionBar" />
        <activity
            android:name="com.architect.kmpessentials.filePicker.internals.ui.activitys.VideoCaptureActivity"
            android:exported="false"
            android:theme="@style/Theme.FilePicker.Dialog.NoActionBar" />
        <activity
            android:name="com.architect.kmpessentials.filePicker.internals.ui.activitys.DocumentFilePickerActivity"
            android:exported="false"
            android:theme="@style/Theme.FilePicker.Dialog.NoActionBar" />
        <activity
            android:name="com.architect.kmpessentials.filePicker.internals.ui.activitys.ImageCaptureActivity"
            android:exported="false"
            android:theme="@style/Theme.FilePicker.Dialog.NoActionBar" />

        <provider
            android:name="com.architect.kmpessentials.filePicker.internals.utilities.CustomFileProvider"
            android:authorities="${applicationId}.library.fileprovider"
            android:exported="false"
            android:forceUriPermissions="true"
            android:grantUriPermissions="true"
            tools:targetApi="q">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>
</manifest>